<div class="container" style="margin-top: 50px; max-width: 1200px; padding: 20px; border-radius: 15px;">
    <!-- About Us Section -->
    <div class="text-center mb-5">
        <h1 style="font-weight: bold; font-size: 2rem; font-family: 'Nikkei Journal', sans-serif;">About Us</h1>
        <p style="color: #000; font-size: 1rem; line-height: 1.6; font-family: Times, 'Times New Roman', Georgia, mserif;">
            Our Employee Management System is a cutting-edge web application designed to streamline your organization's HR processes. Built with Angular, it offers a responsive and user-friendly interface, enabling you to manage employee data efficiently from recruitment to retirement.With advanced features like CRUD operations, real-time data updates, and modular architecture, this system empowers businesses to maintain accurate records, enhance productivity, and improve decision-making. Whether managing a small team or a large workforce, our solution ensures data integrity and scalability tailored to your needs.
        
    </div>

    <span style="font-size: 1.2rem;color:red " >{{errormsg}}</span>
    <!-- Cards Section -->
    
    <div class="row" >
        <!-- Card 1 -->
        <div class="col-md-4 mb-4" *ngFor="let dt of userData" >

            <div class="card shadow-sm" style="border-radius: 10px;">
                <img [src]="dt.avatar" 
                    class="card-img-top" alt="Card Image" style="border-radius: 10px 10px 0 0; object-fit: cover; height: 200px;" >
                <div class="card-body">
                    <!-- pipes came from custom pipe , using cust pipe add prefix Er. -->
                    <h5 class="card-title font-weight-bold">{{dt.first_name +' '+ dt.last_name | pipes}},<br> 
                        <!-- use currency pipe  -->
                    <span class="text-danger" style="font-size: 0.9rem;">package: {{ salary | currency: 'USD' }}</span></h5>
                    <!-- here use date  pipe -->
                    <p style="font-size: 0.9rem; font-family:italic">{{ today | date }} </p>
                    <p></p>
                    <p class="card-text text-muted" style="font-size: 15px;">
                        Joining the sales team nearly two years ago has been one of the best decisions of my career. From the very first day, not only did I feel welcomed but also truly valued — both for my skills and for who I am as a person.
                    </p>
                </div>
            </div>
        </div>
    </div>

   
</div>

<!-- last div -->
<div class="contianer" style="width: 100%; padding: 1rem;">
    <div class="inner-div2 mt-5 text-center" >
        <div class="inner-div1">
            <!-- Heading -->
            <h1 style="font-size: 1.5rem; font-family: fantasy;">They saved. So can you.</h1>

            <!-- Description -->
            <div class="">
                <p style="color: #000000; font-size: 0.9rem; font-family: system-ui;">
                    Manage all your employee details in one centralized system. From hiring to retiring, keep track
                    of
                    personal information, job details, and performance metrics seamlessly.
                </p>
            </div>

            <!-- Scrolling Logo -->
            <div style="overflow: hidden; width: 100%;">
                <marquee behavior="scroll" direction="left" scrollamount="10" style="width: 90%; ">
                   
                    <img src="https://d585tldpucybw.cloudfront.net/sfimages/default-source/blogs/2023/2023-11/angular-logo-1200-303.png?sfvrsn=d8bbe35c_3"
                        alt="Angular Logo" style="height: 25px; width: auto; margin: 0 15px;">
                    <!-- <img src="https://d585tldpucybw.cloudfront.net/sfimages/default-source/blogs/2023/2023-11/angular-logo-1200-303.png?sfvrsn=d8bbe35c_3"
                        alt="Angular Logo" style="height: 25px; width: auto; margin: 0 15px;">
                    <img src="https://d585tldpucybw.cloudfront.net/sfimages/default-source/blogs/2023/2023-11/angular-logo-1200-303.png?sfvrsn=d8bbe35c_3"
                        alt="Angular Logo" style="height: 25px; width: auto; margin: 0 15px;"> -->
                </marquee>
            </div>
        </div>
    </div>
    
    
</div>