input,textarea{
    margin-top: 4px;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    /* color: #fff; */
    margin-bottom: 5px;
    /* border: none; */
    /* border-bottom: 1px solid #fff; */
    outline: none;
    background: #f5f8fa;
    border: 1px solid #cbd6e2;
      border-radius: 10px; 
      padding: 10px;
  }