<div class="container" style="width: 100%; padding: 1rem;">
    <div style="width: 100%; padding: 1rem;">
        <div class="inner-div mt-5 text-center">
            <div class="inner-div1">
                <h1 style="font-weight: bold; font-size: 2rem; font-family: 'Nikkei Journal',sans-serif">Employee
                    Management System</h1>
                <div class="" style="max-width: 45.6rem; margin-top: 0rem;">
                    <p
                        style="color: #000000; font-size: 1rem; line-height: 1.6; font-family:Times, 'Times New Roman', Georgia, serif;">
                        Manage all your employee details in one centralized system. From hiring to retiring, keep track
                        of personal information, job details, and performance metrics seamlessly.
                    </p>
                </div>

                <button class="btn btn-dark px-4 py-2" style="font-weight: bold; border-radius: 5px;"
                    (click)="onForm()">
                    Add Employee
                </button>

            </div>
        </div>
        <!-- <img src="./../../assets/grr-1.svg" alt="" style="max-width: 100%; display: inline-block;  "> -->

        <br><br><br>

        <!-- cards -->

        <div class="row d-flex justify-content-center align-items-center">
            <!-- Text Content Section -->
            <div class="col-lg-6 col-md-6 col-sm-12 mb-4 mb-md-0">
                <div class="p-3">
                    <h3 class="font-weight-bold text-dark mb-4" style="font-family: fantasy;">The New Standard for
                        Employee Management</h3>
                    <p class="text-muted" style="font-size: 15px;">
                        This project represents a modern approach to managing employees efficiently through a web
                        application built using Angular. It leverages CRUD (Create, Read, Update, Delete) operations to
                        provide seamless management of employee data.
                    </p>
                    <p class="text-muted" style="font-size: 15px;">
                        This project sets the new standard for employee management by offering a scalable, secure, and
                        customizable solution tailored to meet organizational needs. Whether it’s a small team or a
                        global workforce, the application streamlines operations and ensures data integrity.
                    </p>
                    <button class="btn text-white" style="background-color: #40b84c; font-weight: bold;">Learn
                        more</button>
                </div>
            </div>

            <!-- Image Section -->
            <div class="col-lg-6 col-md-6 col-sm-12 d-flex align-items-center justify-content-center"
                style="padding: 20px;">
                <div class="p-3" style="border-radius: 15px; overflow: hidden; box-shadow: 0 4px 12px rgba(0,0,0,0.1);">
                    <img src="https://media.licdn.com/dms/image/D5612AQH34j1DoDsvSg/article-cover_image-shrink_720_1280/0/1702059465365?e=2147483647&v=beta&t=4buWcgtdrXV4OE9WVvUdTdcdrErBb3TCNylw1RLAQo4"
                        class="img-fluid" style="border-radius: 10px; object-fit: cover; width: 100%; height: auto;"
                        alt="Employee Management System" appCustDirc>
                </div>
            </div>
        </div>
    </div>

    <br><br>

    <div class="container mt-5">
        <div class="row d-flex justify-content-center align-items-center">
            <!-- Image Section -->
            <div class="col-lg-6 col-md-6 col-sm-12 d-flex align-items-center justify-content-center"
                style="padding: 20px;">
                <div class="p-3" style="border-radius: 15px; overflow: hidden; box-shadow: 0 4px 12px rgba(0,0,0,0.1);">
                    <img src="https://cdn.prod.website-files.com/66e024b53e0bf52bf9cb6fd0/672a4b964a0bd26ad743b9c6_global_team-p-500.webp"
                        class="img-fluid" style="border-radius: 10px; object-fit: cover; width: 100%; height: auto;"
                        alt="Employee Management System" appCustDirc>
                </div>
            </div>

            <!-- Text Content Section -->
            <div class="col-lg-6 col-md-6 col-sm-12 mb-4 mb-md-0">
                <div class="p-3">
                    <h3 class="font-weight-bold text-dark mb-4" style="font-family: fantasy;">Manage Your Team in One
                        Place</h3>
                    <p class="text-muted" style="font-size: 15px;">
                        The system is designed with a responsive UI, powered by Angular’s dynamic features, making it
                        accessible on various devices. It includes form validation, modular routing, and service-based
                        API integration to handle real-time data efficiently.
                    </p>
                    <button class="btn text-white" style="background-color: #40b84c; font-weight: bold;">Learn
                        more</button>
                </div>
            </div>
        </div>
    </div>

    <br><br>
    <div class="container mt-5">
        <div class="row d-flex justify-content-center align-items-center">
            <!-- Text Content Section -->
            <div class="col-lg-6 col-md-6 col-sm-12 mb-4 mb-md-0">
                <div class="p-3">
                    <h3 class="font-weight-bold text-dark mb-4" style="font-family: fantasy;">CRUD Operation Using
                        Angular 16</h3>
                    <p class="text-muted" style="font-size: 15px;">
                        CRUD operations (Create, Read, Update, Delete) are fundamental for managing data in web
                        applications. Angular 16 simplifies implementing these operations by providing features like
                        services, two-way data binding, HttpClientModule, and reactive forms.
                    </p>

                    <button class="btn text-white" style="background-color: #40b84c; font-weight: bold;" (click)="onClick()">Learn
                        more</button>
                </div>
            </div>

            <!-- Image Section -->
            <div class="col-lg-6 col-md-6 col-sm-12 d-flex align-items-center justify-content-center"
                style="padding: 20px;">
                <div class="p-3" style="border-radius: 15px; overflow: hidden; box-shadow: 0 4px 12px rgba(0,0,0,0.1);">
                    <img src="https://angularindepth.com/api/posts/1459/assets/feature-image.jpg" class="img-fluid"
                        style="border-radius: 10px; object-fit: cover; width: 100%; height: auto;"
                        alt="Employee Management System" appCustDirc>
                </div>
            </div>
        </div>
    </div>

    <br><br>

    <div class="container mt-5">
        <div class="row d-flex justify-content-center align-items-center">
            <!-- Image Section -->
            <div class="col-lg-6 col-md-6 col-sm-12 d-flex align-items-center justify-content-center"
                style="padding: 20px;">
                <div class="p-3" style="border-radius: 15px; overflow: hidden; box-shadow: 0 4px 12px rgba(0,0,0,0.1);">
                    <img src="https://miro.medium.com/v2/resize:fit:739/1*o9VEDXVP9WvgXCAl58UQuA.jpeg" class="img-fluid"
                        style="border-radius: 10px; object-fit: cover; width: 100%; height: auto;"
                        alt="Employee Management System" appCustDirc>
                </div>
            </div>

            <!-- Text Content Section -->
            <div class="col-lg-6 col-md-6 col-sm-12 mb-4 mb-md-0">
                <div class="p-3">
                    <h3 class="font-weight-bold text-dark mb-4" style="font-family: fantasy;">Angular 16:
                        Revolutionizing Front-End Development</h3>
                    <p class="text-muted" style="font-size: 15px;">
                        Angular 16 is the latest iteration of Google's robust front-end framework, bringing enhanced
                        performance and developer-centric features. This version introduces signal-based reactivity,
                        simplifying state management and making applications more responsive.
                    </p>
                    <p class="text-muted" style="font-size: 15px;">
                        Optimized rendering ensures faster updates and improved application performance, while enhanced
                        developer tools make debugging and error tracking more efficient. Angular 16 continues to
                        empower developers to build scalable, feature-rich web applications, making it an excellent
                        choice for dynamic projects like employee management systems.</p>
                    <button class="btn text-white" style="background-color: #40b84c; font-weight: bold;">
                            <!-- property binding -->
                         <a [href]="web" style="text-decoration: none; color:white">Learn more</a>   </button>
                </div>
            </div>
        </div>
    </div>


    <div>
        <div class="inner-div2 mt-5 text-center">
            <div class="inner-div1">
                <!-- Heading -->
                <h1 style="font-size: 1.5rem; font-family: fantasy;">They saved. So can you.</h1>

                <!-- Description -->
                <div class="">
                    <p style="color: #000000; font-size: 0.9rem; font-family: system-ui;">
                        Manage all your employee details in one centralized system. From hiring to retiring, keep track
                        of
                        personal information, job details, and performance metrics seamlessly.
                    </p>
                </div>

                <!-- Scrolling Logo -->
                <div style="overflow: hidden; width: 100%;">
                    <marquee behavior="scroll" direction="left" scrollamount="10" style="width: 90%; ">

                        <img src="https://d585tldpucybw.cloudfront.net/sfimages/default-source/blogs/2023/2023-11/angular-logo-1200-303.png?sfvrsn=d8bbe35c_3"
                            alt="Angular Logo" style="height: 25px; width: auto; margin: 0 15px;">
                        <!-- <img src="https://d585tldpucybw.cloudfront.net/sfimages/default-source/blogs/2023/2023-11/angular-logo-1200-303.png?sfvrsn=d8bbe35c_3"
                            alt="Angular Logo" style="height: 25px; width: auto; margin: 0 15px;">
                        <img src="https://d585tldpucybw.cloudfront.net/sfimages/default-source/blogs/2023/2023-11/angular-logo-1200-303.png?sfvrsn=d8bbe35c_3"
                            alt="Angular Logo" style="height: 25px; width: auto; margin: 0 15px;"> -->
                    </marquee>
                </div>
            </div>
        </div>
    </div>
</div>